{{ partial "header.html" . }}

<div class="logocominfo">
    <h1>NEMO</h1>
    <p>Núcleo de Estudos de Matemática Olímpica</p>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./videos/FishCurve.mp4" type="video/mp4">
            Seu navegador não suporta vídeos!
        </video>
    </div>
</div>

<div class="conteudo">
<div class="informacoes">
    <div class="o-que-e">
        <div class="flex-with-img row">
            <div class="col">
                <h1>O que é?</h1>
                <p>O NEMO é um grupo de extensão da Universidade de São Paulo (USP) de São Carlos que se dedica a estudar matemática e realizar preparamentos para diversas competições e olimpíadas nacionais e internacionais.
                </p>
                <p>Realizamos encontros semanais durante os quais listas de problemas de assuntos específicos são discutidos e resolvidos. Acreditamos que o estudo em grupo beneficia a todos.</p>
            </div>
            <div class="img-container col">
                <div class="image">
                    <img src="./imgs/index-imgs/imc_jornalusp_grupo_nemo_matematica_icmc_usp.webp" alt="">
                </div>
                <div class="paragraph">
                    <p>Alguns dos nossos membros que foram premiados na International Mathematics Competition (IMC) 2022</p>
                </div>
            </div>
        </div>
    </div>
    <div class="competicoes">
        <div class="flex-with-img row">
            <div class="col">
                <h1>Como funcionam as olimpíadas de matemática?</h1>
                <p>Apesar de diferentes competições terem diferentes especificidades, todas elas tem algo em comum: envolvem problemas cuja resolução envolve raciocínio lógico e a criatividade. </p>
                <ul>
                    <li><p>International Mathematics Competition for University Students (IMC)</p></li>
                    <li><p>Competencia Iberoamericana Interuniversitaria de Matemáticas (CIIM) </p></li>
                    <li><p>Olimpíada Brasileira de Matemática (OBM)</p></li>
                    <li><p>Competição Elon Lages Lima de Matemática (CELL)</p></li>
                </ul>
            </div>
            <div class="img-container col">
                <div class="image">
                    <img src="./imgs/index-imgs/obm-2017-medalhas.jpg" alt="">
                </div>
                <div class="paragraph">
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="noticias">
    <h1>Notícias</h1>
    <div class="post-container row">
        {{$.Scratch.Set "qnt_noticias" 0}}
        {{ range sort (where .Site.RegularPages "Type" "post") "Params.creation_date" "desc"}}
            {{ if (in .Params.Categories "noticia") }}
            {{ $k := $.Scratch.Get "qnt_noticias"}}
            {{ if le $k 3}}
            <div class="col">
                {{ partial "post-summary.html" (dict "ctx" . "Title" .Title "Description" .Description "thumb" .Params.thumb "day" .Params.creation_date.Day "month" (.Params.creation_date.Format "01") "year" .Params.creation_date.Year "link" .Permalink "hour" .Params.creation_date.Hour "minute" .Params.creation_date.Minute)}}
                {{ $.Scratch.Set "qnt_posts" (add ($.Scratch.Get "qnt_noticias") 1)}}
            </div>
            {{ end }}
            {{ end }}
        {{ end }}
    </div>
</div>

<div class="posts-recentes">
    <h1>Posts recentes</h1>
    <div class="post-container row">
        
            {{$.Scratch.Set "qnt_posts" 0}}
            {{ range sort (where .Site.RegularPages "Type" "post") "Params.creation_date" "desc"}}
            {{if and (not (in .Params.Categories "noticia")) (not (in .Params.Categories "problema-mes"))}}
            {{$k := $.Scratch.Get "qnt_posts"}}
            {{ if le $k 3}}
            <div class="col">
            {{ partial "post-summary.html" (dict "ctx" . "Title" .Title "Description" .Description "thumb" .Params.thumb "day" .Params.creation_date.Day "month" (.Params.creation_date.Format "01") "year" .Params.creation_date.Year "link" .Permalink "hour" .Params.creation_date.Hour "minute" .Params.creation_date.Minute)}}
            {{ $.Scratch.Set "qnt_posts" (add ($.Scratch.Get "qnt_posts") 1)}}
            </div>
            {{ end }}
            {{ end }}
            {{ end }}
    </div>
</div>
</div>

{{ partial "footer.html" . }}
