{{ partial "header.html" . }}

<div class="logocominfo">
    <h1>NEMO</h1>
    <p>Núcleo de Estudos de Matemática Olímpica</p>
    <div class="video-container">
        <video autoplay muted loop>
            <source src="./videos/FishCurve.mp4" type="video/mp4">
            Seu navegador não suporta vídeos!
        </video>
    </div>
</div>

<div class="informacoes">
    <div class="o-que-e">
        <h1>O que é?</h1>
        <p>O NEMO é um grupo de extensão da Universidade de São Paulo (USP) de São Carlos que se dedica a estudar matemática e se preparar para
            diversas competições e olimpíadas nacionais e internacionais.
        </p>
        <p>Realizamos encontros semanais durante os quais listas de problemas de assuntos específicos são discutidos e resolvidos. Acreditamos que o estudo em grupo beneficia a todos.</p>
    </div>
    <div class="competicoes">
        <h1>De quais competições participamos?</h1>
        <ul>
            <li><p>International Mathematics Competition for University Students (IMC)</p></li>
            <li><p>Competencia Iberoamericana Interuniversitaria de Matemáticas (CIIM) </p></li>
            <li><p>Olimpíada Brasileira de Matemática (OBM)</p></li>
            <li><p>Competição Elon Lages Lima de Matemática (CELL)</p></li>
        </ul>
    </div>
</div>

<div class="noticias">
    <h1>Notícias</h1>
</div>

<div class="posts-recentes">
    <h1>Posts recentes</h1>
</div>

{{ partial "footer.html" . }}
