{{ partial "header.html" . }}

{{ partial "separador.html" . }}

<div class="central-content">
    <h2>Quem somos?</h2>
    <p>Nós, membros do Núcleo de Estudos de Matemática Olímpica (NEMO),
    somos pessoas interessadas na diversão proporcionada pela busca por soluções criativas e espertas de problemas de olimpíadas de matemática. </p>
    <p>Como amantes da matemática, gostamos fazer e ouvir explicações de conceitos e problemas matemáticos e, por isso, todos são bem-vindos
        a participar das nossas aulas e trocar experiências e aprendizados conosco!
    </p>
    <h2>Quais as atividades do NEMO?</h2>
    <p>Além de <strong><a href="">competirmos nas olimpíadas</a></strong> e realizarmos os <strong><a href="">encontros semanais</a></strong> para a resolução de problemas de listas semanais com problemas selecionados pela coordenação, realizamos o 
    <strong><a href="">projeto Problema do Mês</a></strong>.
    </p>
    <h2>Como são os problemas de olimpíadas de matemática?</h2>
    <p>Como já dito, são problemas que, diferentemente dos exercícios de provas de vestibulares, de escolas ou de faculdades, não testam seus conhecimentos para saber se você sabe um determinado conceito, nem como fazer determinado algoritmo matemático e nem se sabe como resolver um exercício "manjado". Eles são, na verdade, <strong>problemas que podem ser resolvidos através de ideias simples usadas em conjunto de maneira criativa</strong>. Eis um exemplo: </p>
</div>


{{ partial "footer.html" . }}
