{{ partial "header.html" . }}

{{ partial "separador.html" . }}

<div class="central-content">
<div id="accordion">
    <div class="card">
        <div class="card-header" id="heading1">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    O que é o grupo de extensão NEMO?
                    </button>
            </h5>
        </div>
        <div id="collapse1" class="collapse" aria-labelledby="heading1" data-bs-parent="#accordion">
            <p>Veja <a href="/about#quem-somos">Quem somos?</a></p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading2">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                        O que o NEMO faz?
                    </button>
            </h5>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-bs-parent="#accordion">
            <p>Veja <a href="/about#quais-atividades-nemo">Quais as atividades do NEMO?</a></p>
        </div>
    </div>
    <div class="card" id="encontros-semanais">
        <div class="card-header" id="heading3">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                        Como funcionam os encontros semanais?
                    </button>
            </h5>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-bs-parent="#accordion">
            <p>No início do ano, é decidido por enquente no nosso <a href="https://t.me/nemoavisos">canal de avisos</a> do Telegram o dia da semana e o horário dos encontros semanais.</p>
            <p>Antes do dia desses encontros, a coordenação elabora e manda no canal de avisos uma lista de problemas a serem discutidos no encontro. A ideia é que você dê uma olhada por cima nos problemas da lista durante esse tempo e, no encontro, o autor da lista e voluntários que também tenham resolvido apresentem suas soluções. </p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading4">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        O que são olimpíadas de matemática?
                    </button>
            </h5>
        </div>
        <div id="collapse4" class="collapse" aria-labelledby="heading4" data-bs-parent="#accordion">
            <p>São competições de matemática cujos problemas tem soluções que envolvem ideias criativas. Veja um exemplo de problema <a href="/about#como-sao-problemas">aqui</a>.</p>
            <p>A maioria das olimpíadas tem problemas assim e atribui a cada um deles uma pontuação, de acordo com critérios de correção pré-estabelecidos. Quanto mais pontos você obtiver, mais chance de ganhar uma medalha!</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading5">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                        O que é o projeto Problema do Mês?
                    </button>
            </h5>
        </div>
        <div id="collapse5" class="collapse" aria-labelledby="heading5" data-bs-parent="#accordion">
            <p>Veja <a href="/months-problems">Problemas do mês</a>.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading8">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                        O que é e como é a Olimpíada Brasileira de Matemática (OBM)?
                    </button>
            </h5>
        </div>
        <div id="collapse8" class="collapse" aria-labelledby="heading8" data-bs-parent="#accordion">
            <div class="img-container img-olimpiada">
                <img src="../imgs/faq-page/logo-obm.jpg" alt="">
            </div>
            <p>Um dos objetivos da OBM é interferir decisivamente em prol da melhoria do ensino de Matemática no
                Brasil, estimulando alunos e professores a um aprimoramento maior propiciado
                pela participação em olimpíadas.</p>
            <p>Ela é feita em 2 dias de prova. Cada prova tem 4h30min de duração e 3 problemas discursivos de dificuldade variada que valem de 0 a 10 pontos. A pontuação final da olimpíada, para o nível universitário, leva em conta também a pontuação na Competição Elon Lages Lima de matemática (CELL), que vai de 0 a 25 pontos e pode ser pensada como uma "primeira fase". A nota final da OBM é obtida ao multiplicar a soma dos pontos em cada problma por 5 e a esse resultado adicionar 2 vezes a nota da CELL.</p>
            <p>Para mais informações, visite o <a href="https://www.obm.org.br">site oficial</a> deles.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading9">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                        O que é e como é a Competição Elon Lages Lima de Matemática (CELL)?
                    </button>
            </h5>
        </div>
        <div id="collapse9" class="collapse" aria-labelledby="heading9" data-bs-parent="#accordion">
            <div class="img-container img-olimpiada">
                <img src="../imgs/faq-page/logo-cell.webp" alt="">
            </div>
            <p>A CELL, cujo nome é uma homenagem ao falecido matemático brasileiro Elon Lages, é uma competição criada pela Associação da Olimpíada Brasileira de Matemática (AOBM).</p>
            <p>Ela é uma prova de 3 horas de duração com 25 questões de marcar. Ela é diferente das outras, porque não existem problemas discursivos em que você deve provar resultados e é uma "primeira fase" que seleciona os estudantes que vão fazer a Olimpíada Brasileira de Matemática (OBM).</p>
            <p>O site da competição muda a cada ano, mas o endereço eletrônico de sua 3a edição foi <a href="https://www.obm.org.br/competicao-elon-lages-lima-de-matematica/">neste link</a>.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading6">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                        O que é e como é a International Mathematics Competition (IMC)?
                    </button>
            </h5>
        </div>
        <div id="collapse6" class="collapse" aria-labelledby="heading6" data-bs-parent="#accordion">
            <div class="img-container img-olimpiada">
                <img src="../imgs/faq-page/imc-logo.jpg" alt="">
            </div>
            <p>É a maior olimpíada internacional de matemática universitária.</p>
            <p>Ela é geralmente organizada em 2 dias e em cada um é aplicada uma prova de 5h de duração e com 4 problemas. Todos os problemas são discursivos e valem de 0 a 10 pontos, possuindo dificuldades variadas.</p>
            <p>Em 2022 ela foi híbrida, permitindo que os integrantes do NEMO participassem virtualmente (inclusive tivemos um resultado tão bom esse ano que aparecemos em uma reportagem no <a href="https://jornal.usp.br/universidade/grupo-de-matematica-da-usp-se-destaca-em-olimpiada-internacional-universitaria/" target="_blank">Jornal da USP</a>), mas em 2023 é provável que não seja, o que torna incerta nossa participação.</p>
            <p>Para mais informações sobre a competição, visite o <a href="https://www.imc-math.org.uk">site oficial</a> deles.</p>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="heading7">
            <h5 class="mb-0">
                <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                        O que é e como é a Competencia Iberoamericana Interuniversitaria de Matemáticas (CIIM)?
                    </button>
            </h5>
        </div>
        <div id="collapse7" class="collapse" aria-labelledby="heading7" data-bs-parent="#accordion">
            <div class="img-container img-olimpiada">
                <img src="../imgs/faq-page/LogoCIIM.png" alt="">
            </div>
            <p>A Competição Ibero-americana Interuniversitaria de Matemática (CIIM) tem como objetivo incentivar o estudo de matemática e a excelência acadêmica da comunidade universitária ibero-americana. </p>
            <p>Ela é feita em 2 dias. Em cada dia, existem pelo menos 3 problemas, valendo 20 pontos cada. A duração a ser decidida para cada ano varia entre 4 e 5 horas.</p>
            <p>Ela é geralmente feita em outro país. Em 2022, foi feita em Bogotá, na Colombia. Para mais informações, visite o <a href="http://ciim.uan.edu.co">site oficial</a> deles.</p>
        </div>
    </div>
</div>
</div>


{{ partial "footer.html" . }}
