{{ partial "header.html" . }}

{{ partial "separador.html" . }}

<div class="post-container post-showcase">
{{ $qnt_problemas := 0 }}
{{ range sort (where .Site.RegularPages "Type" "post") "Params.creation_date" "desc"}}
    {{ if and (in .Params.Categories "problema-mes") (le $qnt_problemas  5) }}
        {{ partial "post-summary.html" (dict "ctx" . "Title" .Title "Description" .Description "thumb" (add "../." .Params.thumb) "day" .Params.creation_date.Day "month" (.Params.creation_date.Format "01") "year" .Params.creation_date.Year "link" .Permalink "hour" .Params.creation_date.Hour "minute" .Params.creation_date.Minute)}}
        {{ .Scratch.Add "qnt_problemas" 1}}
    {{ end }}
{{ end }}
</div>

{{ partial "footer.html" . }}
