{{ partial "header.html" . }}

{{ partial "separador.html" . }}

<div class="central-content">
    <h2>O que são os problemas do mês?</h2>
    <p>São desafios propostos mensalmente a todos os alunos de gradução de São Carlos. Esses desafios são no mesmo estilo de problemas discursivos de olimpíadas de matemática.</p>
    <p>Quem tiver a melhor solução ganha uma peça de giz Hagoromo.</p>
    <div class="post-container post-showcase row">
    {{ $qnt_problemas := 0 }}
    {{ range sort (where .Site.RegularPages "Type" "post") "Params.creation_date" "desc"}}
        {{ if and (in .Params.Categories "problema-mes") (le $qnt_problemas  5) }}
        <div class="col">
            {{ partial "post-summary.html" (dict "ctx" . "Title" .Title "Description" .Description "thumb" (add "../." .Params.thumb) "day" .Params.creation_date.Day "month" (.Params.creation_date.Format "01") "year" .Params.creation_date.Year "link" .Permalink "hour" .Params.creation_date.Hour "minute" .Params.creation_date.Minute)}}
            {{ .Scratch.Add "qnt_problemas" 1}}
        </div>
        {{ end }}
    {{ end }}
    </div>

</div>

{{ partial "footer.html" . }}
