.logocominfo {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    clip-path: polygon(100% 0, 0 0, 0% 100%, 100% 100%);
}

.video-container {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
}

.video-container video {
    width: 100%;
    height: 100%;
    position: relative;
    pointer-events: none;
}

.textos-logo {
    position: absolute;
    width: 50vw;
    font-size: 1.7rem;
    z-index: 0;
    color: black;
    text-align: center;
}

.textos-logo h1 {
    font-size: 7rem;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 800px) {
    .textos-logo {
        font-size: 1.5rem;
    }
    .textos-logo h1 {
        font-size: 4rem;
    }
}

@media only screen and (max-width: 500px) {
    .textos-logo {
        font-size: 1.2rem;
    }
    .textos-logo h1 {
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 350px) {
    .textos-logo {
        font-size: 1.1rem;
    }
    .textos-logo h1 {
        font-size: 2.8rem;
    }
}

h1 {
    font-weight: bold;
}

body {
    background-color: rgb(253, 246, 241);
    font-family: 'Open Sans', sans-serif;
}

.o-que-e, .noticias {
    /*background-color: #e5e5e5;*/
    background-color: rgb(5, 4, 1);
    color: white;
}

.noticias, .posts-recentes, .ultimo-problema-mes {
    padding: 30px;
}

.informacoes > div {
    padding: 30px;
    padding-bottom: 40px;
}

@media only screen and (max-width: 800px) {
    .img-container {
        min-width: 100%;
        max-width: none;
    }
}

.img-container {
    min-width: none;
    max-width: 800px;
    margin-top: auto;
    margin-bottom: auto;
}

.image {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: 100%;
}

.img-container .paragraph p {
    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    font-style: italic;
}
