.post-container {
    padding-bottom: 5px;
    padding-top: 5px;
    box-sizing: content-box;
}

.post-container .col .resumo-post {
    margin-left: auto;
    margin-right: auto;
}

.post-container .col {
    margin-bottom: 20px;
}

.resumo-post {
    width: min(100%, 300px);
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
    border-radius: 0.5rem;
    margin: 3px;
    padding: 0;
    background-color: white;
    height: 100%;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    color: black;
}

.resumo-post a {
    display: block;
    margin-top: auto;
    bottom: 0;
}

.resumo-post .post-resumo-texto {
    position: relative;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resumo-post img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
}

.resumo-post .post-img-container {
    position: relative;
    width: min(100%, 300px);
    border-radius: 7px;
    border: 4px solid black; /* #4a5568;*/
    margin: 0;
    padding: 0;
}

.post-img-container:after {
    content: "";
    display: block;
    padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.post-showcase {
    margin-left: 10%;
    margin-right: 10%;
}