div.div-separadora {
    height: 200px;
    background-color: rgb(253, 246, 241);
    margin-top: 57.03px;
    text-align: center;
}

.div-separadora h1 {
    line-height: 190px;
    margin: auto;
    vertical-align: middle;
}