<div class="div-separadora">
    
    {{ $baseUrl := .Site.BaseURL }} 
    {{ if eq (add .Permalink "") (add $baseUrl "about/") }}
        <h1>Sobre</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "materials/") }}
        <h1>Listas e materiais</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "months-problems/") }}
        <h1>Problemas do mês</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "news/") }}
        <h1>Notícias</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "faq/") }}
        <h1>FAQ</h1>    
    {{ else if eq (add .Permalink "") (add $baseUrl "contact/") }}
        <h1>Contato</h1>
    {{ else if in (add .Permalink "") (add $baseUrl "post/") }}
        <h1></h1>
        <script>
            var thish1 = document.getElementsByTagName('h1')[0];
            thish1.textContent = "";
            var title = {{.Title}};

            for (let i = 0; i < title.length; i++) {
                if (title[i] >= 'A' && title[i] <= 'Z' && false) {
                    thish1.textContent += `$\\mathbb{${title[i]}}$`
                } else {
                    thish1.textContent += title[i];
                }
            }
        </script>
    {{ end }}
</div>