<div class="div-separadora">
    
    {{ $baseUrl := .Site.BaseURL }} 
    {{ if eq (add .Permalink "") (add $baseUrl "about/") }}
        <h1>$\mathbb{S}$obre</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "materials/") }}
        <h1>$\mathbb{L}$istas e $\mathbb{M}$ateriais</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "months-problems/") }}
        <h1>$\mathbb{P}$roblemas do $\mathbb{M}$ês</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "news/") }}
        <h1>$\mathbb{N}$otícias</h1>
    {{ else if eq (add .Permalink "") (add $baseUrl "contact/") }}
        <h1>$\mathbb{C}$ontato</h1>
    {{ else if in (add .Permalink "") (add $baseUrl "post/") }}
        <h1></h1>
        <script>
            var thish1 = document.getElementsByTagName('h1')[0];
            thish1.textContent = "";
            var title = {{.Title}};

            for (let i = 0; i < title.length; i++) {
                if (title[i] >= 'A' && title[i] <= 'Z') {
                    thish1.textContent += `$\\mathbb{${title[i]}}$`
                } else {
                    thish1.textContent += title[i];
                }
            }
        </script>
    {{ end }}
</div>